<h1 class="mb-4 text-2xl">{{ pharmacy.name }}</h1>
<p class="mb-2">
  {{ pharmacy.address }}
  <a
    class="mb-2 text-turquoise-300"
    [attr.href]="'https://www.google.co.jp/maps/place/' + pharmacy.address"
    target="_blank"
  >
    Map
    <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
  </a>
</p>
<p class="mb-2" [innerHTML]="pharmacy.memo_openinghours | newlineToBrPipe"></p>
<div class="flex flex-row space-x-2 mb-2">
  <a
    [attr.href]="'https://www.google.com/search?q=' + pharmacy.name"
    class="text-center inline-block bg-transparent border border-turquoise-300 w-48 h-10 py-1.5 rounded-lg text-turquoise-300 font-bold"
    target="_blank"
  >
    <fa-icon [icon]="faMagnifyingGlass" class="text-turquoise-300 mr-1"></fa-icon>
    <p class="inline-block font-bold text-turquoise-300">検索する</p>
  </a>
  <a
    [attr.href]="'tel:' + pharmacy.tel"
    class="text-center inline-block bg-transparent border border-turquoise-300 w-48 h-10 py-1.5 rounded-lg text-turquoise-300 font-bold"
    target="_blank"
  >
    <fa-icon [icon]="faPhone" class="text-turquoise-300 mr-1"></fa-icon>
    <p class="inline-block font-bold text-turquoise-300">電話する</p>
  </a>
</div>
<div *ngIf="isEmergencyContact">
  <p>緊急連絡先は下記の通り</p>
  <p>{{ pharmacy.emergency_contact_phone }}</p>
</div>
