<app-card
  [item]="medicalInstitution"
  [itemCategory]="'医療機関'"
  [openingHourLabel]="'医療機関における緊急避妊にかかる対面診療への対応可能時間帯：'"
  [buttonBgColor]="'bg-blue-300'"
  [searchEventName]="'medical-institution-search-button-click'"
  [telEventName]="'medical-institution-tel-button-click'"
>
  <div
    class="flex mb-4 badges"
    *ngIf="medicalInstitution.isOpenSunday !== '' || medicalInstitution.isOpenHoliday !== ''"
  >
    <div *ngIf="medicalInstitution.isOpenSunday === '◯'" class="badge bg-red-100 mr-1">日曜診療：◯</div>
    <div *ngIf="medicalInstitution.isOpenHoliday === '◯'" class="badge bg-yellow-100">祝日診療：◯</div>
    <div *ngIf="medicalInstitution.isOpenSunday === '△'" class="badge bg-red-100 mr-1">日曜診療：△</div>
    <div *ngIf="medicalInstitution.isOpenHoliday === '△'" class="badge bg-yellow-100">祝日診療：△</div>
  </div>
</app-card>
