<div class="flex flex-col space-y-14 mt-3">
  <section class="w-full flex flex-col items-center">
    <h1 class="text-xl mb-2">現在地で探す</h1>
    <app-button [link]="'/medical-institutions/current-location'">検索</app-button>
  </section>
  <section class="w-full flex flex-col items-center">
    <h1 class="text-xl mb-2">住所で探す</h1>
    <div class="flex flex-col space-y-2 w-full mb-2">
      <select
        id="todofukenList"
        [(ngModel)]="selectedTodofuken"
        (change)="onTodofukenChange()"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-7 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center"
      >
        <option value="">都道府県を選択してください</option>
        <option *ngFor="let todofuken of todofukenList" [value]="todofuken">{{ todofuken }}</option>
      </select>
      <select
        id="shikuchosonList"
        [(ngModel)]="selectedShikuchoson"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-7 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center"
      >
        <option value="">市区町村を選択してください</option>
        <option *ngFor="let shikuchoson of shikuchosonList" [value]="shikuchoson">{{ shikuchoson }}</option>
      </select>
    </div>
    <app-button (clickEvent)="onAddressSearch()" [disabled]="!isTodofukenAndShikuchosonSelected()"> 検索 </app-button>
  </section>
</div>
