<div>
  <div class="chapter-box">
    <h2>プライバシーポリシー（個人情報保護方針）</h2>
    <p class="text">
      アフターピル検索プロジェクト（以下、「当団体」という。）は、ユーザーの個人情報について以下のとおりプライバシーポリシー（以下、「本ポリシー」という。）を定めます。本ポリシーは、当団体がどのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。
    </p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">1. 定義</span>
    <p class="text">
      「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
    </p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">2. 個人情報の取得</span>
    <p class="text">
      当団体は、個人情報保護法その他の法令に基づき、公正かつ適切に個人情報を取得します。
      当団体は、あらかじめ本人の同意を得た場合及び個人情報保護法その他の法令により許容される場合を除き、要配慮個人情報（個人情報保護法第2条第3項に定義されるものを意味します。）を取得しません。
    </p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">3. 個人情報の利用目的</span>
    <p class="text">本サービスの利用に際して、個人情報を収集することがあります。収集する個人情報は、以下の通りです。</p>
    <ul>
      <li>本サービスに関するご意見、お問い合わせ内容の確認・回答のため</li>
      <li>本サービスの改善・新規サービスの開発およびマーケティングのため</li>
      <li>キャンペーン・アンケート・モニター・取材等の実施のため</li>
    </ul>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">4. 個人データの第三者提供について</span>
    <p class="text">当団体は法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。</p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">5. 個人情報取り扱いに関する相談や苦情の連絡先</span>
    <p class="text">当団体の個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせはお問い合わせフォームよりご連絡ください。</p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">6. cookieについて</span>
    <p class="text">
      cookieとは、利用者のウェブサイト閲覧情報を、利用者のコンピューター（PCやスマートフォン、タブレットなどインターネット接続可能な機器）に記憶させる機能のことです。
      お使いのWebブラウザの設定により、cookieを無効にすることも可能です。
      本サービスでは、利用者がウェブサイトを閲覧する際に同じ情報を繰り返し入力することがなくなるなど、ユーザーの利便性向上のために使用しています。
      本サービスでは、cookieを使用して収集した情報を利用して、利用者のサービスの利用状況（アクセス状況、トラフィック、ルーティング等）を分析し、本サービスのパフォーマンス改善に使用することがあります。
    </p>
  </div>

  <div class="chapter-box">
    <span class="chapter-title">7. アクセス解析ツールについて</span>
    <p class="text">
      本サービスでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
      トラフィックデータは匿名で収集されており、個人を特定するものではありません。詳細については、以下のリンクをご覧ください。
      <br />
      <a href="https://analytics.google.com/" target="_blank">Google Analytics</a><br />
      <a href="https://www.google.com/intl/ja/analytics/terms/" target="_blank">Google Analytics利用規約</a><br />
      <a href="https://policies.google.com/technologies/partner-sites?hl=ja"
        target="_blank">Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用</a><br />
    </p>
  </div>

  <div class="chapter-box">
    <span>2023年08月19日 制定</span>
  </div>

  <div class="chapter-box">
    <h2>免責事項</h2>
    <p class="text">
      本サービスに掲載されている情報の正確性には万全を期していますが、利用者が本サービスの情報を用いて行う一切の行為に関して、一切の責任を負わないものとします。
      当団体は、利用者が本サービスを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。
    </p>
  </div>
</div>
