<div class="w-full h-full bg-gray-100">
  <div class="h-full max-w-md mx-auto md:shadow-2xl">

    <header class="bg-white border-b border-gray-200 shadow dark:bg-gray-900">
      <div class="mx-auto p-4">
        <a routerLink="/" class="flex justify-center">
          <span class="self-center text-2xl font-semibold dark:text-white">アフターピル検索</span>
        </a>
      </div>
    </header>

    <div class="px-5 py-5">
      <router-outlet />
    </div>

    <footer
      class="bottom-0 left-0 z-20 w-full p-5 bg-white dark:bg-gray-800 dark:border-gray-600">
      <ul
        class="flex justify-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
          <a routerLink="/about" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
          <a routerLink="/privacypolicy" class="mr-4 hover:underline md:mr-6">プライバシーポリシー</a>
        </li>
        <li>
          <a routerLink="/contact" class="hover:underline">お問い合わせ</a>
        </li>
      </ul>
    </footer>
  </div>
</div>
