<div>
  <div class="block">
    <h2 class="chapter">アフターピル検索とは</h2>
    <p>アフターピル(緊急避妊薬)が必要な時、日本では医師の処方箋が必要です。例えば、こんなことで困っていませんか？</p>

    <ul>
      <li>平日昼間に病院に行けない</li>
      <li>近くに婦人科がない</li>
      <li>日曜祝日なので近くのクリニックが閉まっている</li>
    </ul>

    <p>
      アフターピル検索では、あなたに合った受診を支援します。土日祝日、地方で近くに産婦人科がない方、平日昼間に病院に行けない方などが、72時間に間に合う選択肢を一緒に探します。
    </p>
  </div>

  <div class="block">
    <h2 class="chapter">このサイトで出来ること</h2>
    <ul>
      <li>土日祝日も対面受診できる医療機関を探せます</li>
      <li>オンライン診療（スマホ受診）した後に薬を受けとれる薬局を探せます</li>
    </ul>
    <p>アフターピルの入手は以下のサイトをご覧ください。</p>
    <a href="https://pillnyan.jp/search_afterpill/" target="_blank">
      <img class="logo" src="assets/img/pillnyan-logo.png" alt="アフターピルの入手について" />
    </a>
  </div>

  <div class="block">
    <h3 class="chapter">検索データ</h3>
    <p>検索データは、厚労省が公開している下記のデータを元に、スタッフが編集して、利用しています。</p>
    <ul>
      <li>
        <a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000186912_00002.html" target="_blank">
          厚生労働省のウェブサイトに掲載を希望した緊急避妊にかかる対面診療が可能な産婦人科医療機関等の一覧
          (令和4年07月27日更新版)
        </a>
      </li>
      <li>
        <a href="https://www.mhlw.go.jp/stf/kinnkyuuhininnyaku.html" target="_blank">
          オンライン診療に係る緊急避妊薬の調剤が対応可能な薬剤師及び薬局の一覧 (令和4年11月30日更新版)
        </a>
      </li>
    </ul>
    <p>
      検索データの更新はなるべく早く反映できるように努めますが、もし正しくない情報があればお問い合わせからご連絡ください。
    </p>
  </div>

  <div class="block">
    <h3 class="chapter">運営</h3>
    <p>
      本サービスは、アフターピル検索プロジェクトが運営しています。
    </p>
  </div>

  <div class="block">
    <h3 class="chapter">コントリビューション</h3>
    <p>本プロジェクトに興味があれば是非ご参加ください。プロジェクト詳細は、
      <a href="https://code4japan-community.notion.site/7445736c87314fddbf411b5db49d54a8" target="_blank">Code for
        Japanのプロジェクトページ</a>をご覧ください。普段Code for Japanのソーシャルハックデイにて活動しています。
    </p>
  </div>

  <div class="block">
    <h3 class="chapter">お問い合わせ</h3>
    <p>お問い合わせは、 <a routerLink="/contact" target="_blank"> こちらのページ </a>よりお願いします。</p>
  </div>
</div>
